<!DOCTYPE html>
<html>

<head>
  <title>Create Calculation</title>
</head>

<body>
  <h1>Create Calculation</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create">
  </form>
  <a href="{% url 'post_list' %}">Back to Post List</a>
</body>

</html>
